@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --primary-dark: #4338CA;
    --white: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-dark);
    color: var(--white);
}

.container {
    
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 3rem;
}

h1 {
    text-align: center;
    padding: 1rem;
    background-color: #191F42;
}

input,
label {
    display: block;
    width: 90%;
    padding: 1rem;
    font-size: larger;
    font-weight: bold;
}

input {
    margin-bottom: 1rem;
}

button {
    margin: auto;
    display: block;
    background-color: #191F42;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 1rem;
    color:  var(--white);
}

#output-box {
    background-color: white;
    width: 90%;
    padding: 1rem;
    font-size: larger;
    font-weight: bold;
    color: #191F42;
}

/**Footer**/
.footer {
    background-color: #191F42;
    color: white;
    padding: 0.75rem 1rem;
    text-align: center;

    padding-bottom: 250px;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-header {
    font-weight: bold;
    font-size: large;
}

.icon-social {
    font-size: 24px;

}

.footer-list li {
    display: inline;
    margin: 0 0.5rem;
}

/**lists**/
.list-non-bullets {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding-right: 0rem 0.5rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}